.gradle
Reports
output
!output/.gitkeep
build
/bin/
/Libs/
/.settings/
/.classpath
.svn/
*Reports/**
.project
settings/**
Plugins/**
console.properties
.cache
/Screenshots/**
KatalonChallange.prj
.project
Profiles/openwheathermap_api*